html {
    height: 100%;
}
body {
    font-family: "Playfair Display", serif;
    margin: 0;
}
.second-bg {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.8)
        ),
        url(https://r4.wallpaperflare.com/wallpaper/819/48/873/bmw-m8-gte-artwork-wallpaper-2b264c1d7311df6965340b490d4ceca0.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.third-bg {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.8)
        ),
        url(https://www.hdcarwallpapers.com/walls/lamborghini_urus_performante_4k_8k_7-HD.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.fourth-bg {
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.8)
        ),
        url(https://www.hdcarwallpapers.com/walls/rolls_royce_cullinan_4k-HD.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 178, 255, 0.5);
    border-radius: 0 0 20px 20px;
}

.header-img {
    width: 15%;
}
.header-img img {
    width: 100%;
}
.header-link {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}
.header-link a {
    display: flex;
    align-items: center;
    color: #d71313;
    margin-right: 35px;
    font-size: 18px;
    letter-spacing: 1px;
}

.header-link a img {
    width: 60px;
    margin-right: 5px;
}
.a-1 img {
    width: 60px !important;
}
.header-link a:nth-child(1) img {
    width: 30px;
    margin-right: 20px;
}

.main-info {
    display: flex;
    margin: 0 10px 20px 10px;
}
.main-link {
    margin: 0 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(0, 178, 255, 0.5);
}

.main-info-video {
    width: 60%;
}
.plyr {
    border-radius: 20px;
}
.main-info-text {
    width: 40%;
    margin-left: 50px;
    padding-left: 10px;
    border-radius: 25px;
    background-color: rgba(0, 178, 255, 0.5);
}

.main {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 150px;
}

.plyr__controls .plyr__controls__item {
    margin-left: 0;
}
